<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Помочь сайту</title>
    <meta name="description" content="Пожертвование"/>
    
    <link rel="stylesheet" type="text/css" href="/styles/help_style.css" />
    <link rel="icon" href="/img/heart.png">

    <a href="/" class="gradient-button" onclick="window.location.href='/';">&laquo; Назад</a>
    
  </head>
  <body>
    <header>
      <nav>
      </nav>
    </header>

    <main>
        <div class="title">
            <p>Хочешь помочь сайту?</p>
        </div>

        <div class="problem">
            <p>Дело в том, что нам приходится каждый месяц платить за хостинг, дабы этот сайт существовал. Поэтому, именно благодаря тебе, сайт может просуществовать гораздо дольше. Ведь даже 3 рубля - это уже хорошо.</p>
        </div>

        <!----<div class="blagot">
            <img src="/img/donation.png" alt="Пожертвование">
        </div>---->
        
        <div class="blago">
            <iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0%20%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D1%81%D1%82%D0%B2%D0%B0%20%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2%20%D0%A8%D0%BA%D0%BE%D0%BB%D1%8B%201358&targets-hint=&default-sum=&button-text=14&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=http%3A%2F%2Fschool1358.000webhostapp.com&quickpay=shop&account=41001656630505" width="40%" height="329" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
        </div>
        
        <section id="form">
          <div class="forma">
              <script src="https://yastatic.net/s3/frontend/forms/_/embed.js"></script><iframe src="https://forms.yandex.ru/u/606ec9efcb01e7b0770d3d25/?iframe=1" frameborder="0" name="ya-form-606ec9efcb01e7b0770d3d25" width="650"></iframe>
          </div>
        </section>

        <div class="info-help">
            <p>Также, вы можете помочь с информацией о учителях, достаточно лишь заполнить данную форму и отправить, после чего я опубликую вашу инфу.
                <br><br>P. S. не бойтесь, это анонимно)
            </p>
        </div>
    </main>

    <aside>
    </aside>

    <footer>
    </footer>
  </body>
</html>