<head>
  <link rel="stylesheet" href="styles/sign_in.css">
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" %>
  <link rel="icon" href="img/registration.png">
</head>

<div id="clearance" class="sign-in">
  <h2><%= t("Войти в аккаунт") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
