<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Информация о учителях 1 корпуса</title>
    <meta name="description" content="Информация о учителях">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/teacher.png">
    <link rel="stylesheet" href="styles/teachers_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <nav>
        <a href="/" class="gradient-button">&laquo; Назад</a>
        <a href="#" title="Вернуться вверх" class="buttonup" ><img src="/img/up-arrow.png"></a>
    </nav>

    <div class="title">
        <h1>Учителя школы №1358 1 корпуса</h1>
    </div>

    <button type="button" class="btn btn-primary" onclick="window.location.href='help#form'">Добавить училку</button>

    <div class="btn-group btn-group-lg" id="categories" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" onclick="window.location.href='teachers'">1 корпус</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='teachers2'">2 корпус</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='teachers3'">3 корпус</button>
    </div>
</head>

<body>
        <section class="marina">
            <div class="photo-teacher">
                <img src="/img/marina.jpeg" alt="Марина Малентиновна" width="500">
            </div>
            <div class="title-teacher" id="aaa">
                <h1>Чухачёва&nbsp;Марина&nbsp;Валентиновна</h1>
            </div>
            <div class="description-teacher">
            <p><b>Преподаёт:</b> Алгебру и геометрию

                <br><br><b>Стаж работы:</b> 36 лет
                
                <br><br><br><b>Информация:</b>
                
                <br><br>&#9989;Может помочь ученику, если у него возник вопрос.
                <br><br>&#9940;Не очень понятно объясняет темы. 
                <br><br>&#9940;Не пускает в туалет на уроке. 
                <br><br>&#9940;Хамит.
                <br><br>&#9940;Почти постоянно говорит громко, что чуть ли не орёт<a href="afgt.htm" class="egg">.</a>
                
                <br><br><br><b>E-mail:</b> wikkik2011@mail.ru

                <br><br><br><b>Контактный телефон:</b> +7 926 131-57-77
                
                <br><br><b>Цитата:</b> “В туалет не пущу! У вас было время на перемене! ХВАТИТ ХОЖДЕНИЙ ПО МУКАМ!!1”</p>
        </section>

        <section class="savynov">
            <div class="photo-teacher">
                <img src="/img/fizik.jpeg" alt="Савунов Максим Александрович" width="500">
            </div>
            <div class="title-teacher">
                <h1>Савунов&nbsp;Максим&nbsp;Александрович</h1>
            </div>
            <div class="description-teacher">
            <p><b>Преподаёт:</b> Физику и астрономию

                <br><br><b>Стаж работы:</b> 13,5 лет
                
                <br><br><br><b>Информация:</b>
                <br><br><b>Описание:</b> адекватный, хороший преподаватель. Больше нечего сказать.
                <br><br>&#9989;Может помочь ученику, если у него возник вопрос.
                <br><br>&#9989;Понятно объясняет темы. 
                <br><br>&#9989;Пускает в туалет на уроке. 
                <br><br>&#9989;Вежливый.
                <br><br>&#9989;Говорит спокойно.
                
                <br><br><br><b>E-mail:</b> Msavunov@gmail.com

                <br><br><br><b>Контактный телефон:</b> 891504507711
        </section>

        <section class="volkova">
            <div class="photo-teacher">
                <img src="/img/volkova.png" alt="Волкова Ирина Владимировна" width="500">
            </div>
            <div class="title-teacher">
                <h1>Волкова&nbsp;Ирина&nbsp;Владимировна</h1>
            </div>
            <div class="description-teacher">
            <p><b>Преподаёт:</b> Биологию

                <br><br><b>Стаж работы:</b> 16 лет
                
                <br><br><br><b>Информация:</b>
                <br><br><b>Описание:</b> Не знаю как вы, но я никогда не наблюдал, как она повышала свой голос. Рассказывает с интересом, что даже самому интересно слушать. Делает самостоятельную работу почти каждый урок, но это нормально, т.к. урок биологии проходит 1 раз в неделю.
                <br><br>&#9989;Может помочь ученику, если у него возник вопрос.
                <br><br>&#9989;Понятно объясняет темы. 
                <br><br>&#9989;Пускает в туалет на уроке. 
                <br><br>&#9989;Вежливая.
                <br><br>&#9989;Говорит спокойно.
                
                <br><br><br><b>E-mail:</b> Volkova.Irina24092018@yandex.ru

                <br><br><br><b>Контактный телефон:</b> 89308760792
        </section>

        <section class="dekina">
            <div class="photo-teacher">
                <img src="/img/dekina.png" alt="Декина Екатерина Дмитриевна" width="500">
            </div>
            <div class="title-teacher">
                <h1>Декина&nbsp;Екатерина&nbsp;Дмитриевна</h1>
            </div>
            <div class="description-teacher">
            <p><b>Преподаёт:</b> Математику, алгебру и геометрию

                <br><br><b>Стаж работы:</b> 10 лет
                
                <br><br><br><b>Информация:</b>

                <br><br>&#9989;Может помочь ученику, если у него возник вопрос.
                <br><br>&#9989;Понятно объясняет темы. 
                <br><br>&#9989;Пускает в туалет на уроке. 
                <br><br>&#9989;Вежливая.
                <br><br>&#9989;Говорит спокойно.
        </section>

        <section class="gromakov">
            <div class="photo-teacher">
                <img src="/img/gromakov.png" alt="Громаков Дмитрий Юрьевич" width="500">
            </div>
            <div class="title-teacher">
                <h1>Громаков&nbsp;Дмитрий&nbsp;Юрьевич</h1>
            </div>
            <div class="description-teacher">
            <p><b>Преподаёт:</b> Информатику и робототехнику

                <br><br><b>Стаж работы:</b> 22 года
                
                <br><br><br><b>Информация:</b>
                <br><br><b>Описание:</b> Очень крутой преподаватель, понятно объясняет темы.
                <br><br>&#9989;Может помочь ученику, если у него возник вопрос.
                <br><br>&#9989;Понятно объясняет темы. 
                <br><br>&#9989;Пускает в туалет на уроке. 
                <br><br>&#9989;Вежливый.
                <br><br>&#9989;Говорит спокойно.
                
                <br><br><br><b>E-mail:</b> inform1358@ya.ru

                <br><br><br><b>Его сайт:</b> <a href="http://hint.h1n.ru">http://hint.h1n.ru</a>
        </section>
</body>
