<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>История обновлений</title>
    <meta name="description" content="История обновлений сайта для учеников школы 1358"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/updates_style.css"/>
    <link rel="icon" href="/img/update.png">
    
  </head>
  <body>
    <header>
      <nav>
        <a href="/" class="gradient-button" onclick="window.location.href='/';">&laquo; Назад</a>
      </nav>
    </header>
    <main>
        <div class="title">
            <p>Обновления:</p>
        </div>
        <div class="list">
            <p>12.04.2021 - Сайт переехал на полноценный домен! Это потрясающе, ведь теперь у сайта защищённое соединение и оно работает гораздо быстрее.<br>Добавил надпись на главной странице: "Добро пожаловать!".<br>Оставайтесь с нами, дальше будет только лучше!❤️</p>
            <p>09.04.2021 - Добавил инфу о училке (<a href="help#form">благодаря тому, кто заполнил и отправил анкету о ней</a>). Переместил историю обновлений с главной на отдельную страницу. Оптимизация и прочее.</p>
            <p>08.04.2021 - Добавил страницу "Помочь сайту❤️", теперь у вас есть возможность поддержать данный сайт, а также добавить информацию о учителях. Оптимизация и т.д.</p>
            <p>06.04.2021 - Заполнил информацию о сайте на странице "О сайте", теперь мы можем познакомиться с вами поближе)<br>Добавил кнопку "Вверх" на странице "Информация о учителях".</p>
            <p>05.04.2021 - Дополнена информация о учителях. Добавлена страница "О сайте".</p>
            <p>31.03.2021 - Добавлена вкладка "Общение", где мы можем теперь с вами общаться!<br>Изменён шрифт, теперь читать ещё приятнее (:</p>
            <p>29.03.2021 - Добавлена анимация текста с описанием обновлений при загрузке страницы.</p>
            <p>28.03.2021 - Исправлен баг с отображением иконки сайта.</p>
            <p>27.03.2021 - 1) Добавил фото школы 1358 в качестве фона обновлений.<br>2) Установил надпись "Школа №1358" на главной странице.<br>3) Улучшил отображение сайта на моб. устройствах.<br>4) Оптимизация и прочее.</p>
            <p>24.03.2021 - Изменил цвет кнопки "Информация о учителях" с черной на фиолетовую. Оптимизация и прочие мелочи.</p>
        </div>
    </main>

    <aside>
    </aside>

    <footer>
    </footer>
  </body>
</html>