h2 {
  margin-left: 8px;
}

* {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@media (max-width:768px) {
  /*
    ... правила для планшетов ...
    выводим карточки товаров по 2 в ряд
  */
}
@media (max-width:320px) {
  /*
    ... правила для смартфонов ...
    выводим карточки товаров по 1 в ряд
  */
}

.gradient-button {
  position: fixed;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 15px 23px;
  font-family: 'Microsoft', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  background: #00CCFF;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  flex-wrap: wrap;
}
.gradient-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-5px);
}

.sign-up {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.text-field {
  margin-top: 50px;
  align-items: center;
}

.password-field {
  margin-top: 50px;
  align-items: center;
}

.submit-field {
  margin-top: 50px;
  align-items: center;
  margin-left: 10px;
}

.other-links {
  margin-top: 50px;
  align-items: center;
  margin-left: 15px;
}
