<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>О сайте</title>
    <meta name="description" content="О сайте про школу 1358"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/about_style.css">
    <link rel="icon" href="img/info.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <a href="/" class="gradient-button" onclick="window.location.href='/';">&laquo; Назад</a>
  </head>
  <body>
    <section class="comming">
      <div class="hello">
        <p>Привет! Давай познакомимся поближе❤️</p>
      </div>
      <p><br>Данный сайт был создан для учеников школы № 1358, здесь публикуется настоящая информация о учителях, директоре и многое другое.
        <br><br>Также, вы можете общаться во вкладке "Общение". Знаю, общаться через комментарии ВК не очень удобно, но могу прикрутить целый форум! (надо будет мне сделать голосование насчёт этого...)
      <br><br>Информация здесь постоянно обновляется и добавляются новые фичи. У меня ещё много идей для этого сайта, поэтому не забывайте его посещать)</p>
    </section>
    <header>
      <nav>
 
      </nav>
    </header>
    <main>
	    
    </main>
    <aside>
	    
    </aside>
    <footer>
	    
    </footer>
  </body>
</html>