<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Директор школы № 1358</title>
    <meta name="description" content="Информация о директоре школы 1358"/>
    
    <link rel="stylesheet" type="text/css" href="/styles/director_style.css"/>
    <link rel="icon" href="img/man.png">

    <a href="/" class="gradient-button" onclick="window.location.href='/';">&laquo; Назад</a>
    <div class="comming">
      <p>Скоро...</p>
    </div>
  </head>
  <body>
    <header>
      <nav>
	      
      </nav>
    </header>
    <main>
	    
    </main>
    <aside>
	    
    </aside>
    <footer>
	    
    </footer>
  </body>
</html>